@using System.Collections.Generic
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    Layout = "../Shared/_Layout.cshtml";
}
@model System.Collections.Generic.List<CoffeePoint.Domain.Entities.Order>


<h1>Заказы</h1>
@Html.ActionLink("Создать","Order","Orders",null,new{@class="btn btn-primary"})
<br/><br/>

<table class="table table-hover">
    <tr>
        <td><b>Идентификатор заказа</b></td>
        <td><b>Открыт</b></td>
        <td><b>Итого</b></td>
    </tr>
    @foreach (var request in Model)
    {
        <tr>
            <td>@Html.ActionLink(request.OrderGuid.ToString(),"Order","Orders",new{request.OrderGuid} )</td>         
            <td>@(request.ClosedDate.HasValue?"Закрыт":"Открыт")</td>
            <td>@request.Total</td>
        </tr>
    }

</table>
