<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="astral.extensions" value="https://www.myget.org/F/astral/api/v3/index.json" protocolVersion="3" />
        <add key="msp" value="http://10.0.3.8:1337/" />
    </packageSources>
</configuration>